:root {
  // Colors
  --white-color: #fff;
  --text-color: #666666;
  --main-color: #222222;
  --pastel-color: #fcedea;
  --accent-color: #d05278;
  --border-color: #eeeeee;
  --main-background: #f5fafb;
  --input-background: #fbf8f2;
  --image-background: #f7f7fd;

  // Header and bottom bar
  --header-height: 50px;
  --footer-height: 70px;

  // Screen width
  --screen-width: 650px;
}
